.PackagesSection1CardContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media screen and (max-width:992px) {
    .PackagesSection1CardContainer {
        flex-direction: column;
    }
    }