.FooterContainer {
    display: flex;
}

.FooterContainer {
    background-image: url("./img/Footer-img.png");
    background-repeat: no-repeat;
    background-size: cover;
}


@media screen and (max-width:992px) {
    .FooterContainer {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
    